header {
font-family: 'Tangerine', serif;
text-align: center;
font-weight: bold;
font-size: 60px;
color: rgb(155, 61, 10);
}

.chinook {
  width: 600px;
  height: 200px;
}

.salmon {
  width: 650px;
  height: 220px;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(182, 102, 5, 0.776);

}

h2 {
  font-family: 'Tangerine', serif;
  font-size: 70px;
  text-shadow: darkgray;
  color:rgb(40, 88, 71);
}

.cutter{
  width: 200px;
  height: 200px;
}

.cookie {
  width: 315px;
  height: 200;
}

p {
font-family: Georgia;
font-size: 28px;
color:rgb(92, 55, 5);
}

.family {
  width: 500px;
  height: 250px;
}

.tshirttext {
  font-family: Georgia;
font-size: 28px;
color:rgb(92, 55, 5);
}

.tshirt {
  width: 200px;
  height: 200px;
}

.locations {
  font-family: Georgia;
font-size: 28px;
color:rgb(92, 55, 5);
}

.contacth2 {
  font-family: 'Tangerine', serif;
  font-size: 70px;
  font-weight: bold;
  text-shadow: darkgray;
  color: rgb(216, 83, 12);
}

.pcontact {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 70px;
  text-shadow: darkgray;
  color: rgb(216, 83, 12);
}

.bottom {
  font-family: 'Tangerine', serif;
  font-weight: bold;
  font-size: 70px;
  text-shadow: darkgray;
  color: rgb(216, 83, 12);
}

.saleh1{
font-family: 'Tangerine', serif;
text-align: center;
font-weight: bold;
font-size: 40px;
color: rgb(40, 88, 71);
}

table {
  border: solid #54190c 20px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th, td {
  border: solid #a5550f 5px;
  padding: 5px;
}