header{
font-family: 'Tangerine', serif;
color: darkcyan;
}

body{
font-family: sans-serif;
background-color: rgba(182, 102, 5, 0.776);
}

h2{
font-family: 'Tangerine', serif;
font-size: 50px;
text-shadow: darkgray;
color:rgb(40, 88, 71);
}

p{
font-family: Georgia;
font-size: 30px;
color:burlywood;
}